<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script>
      $(document).ready(function(){
        $("#inputSearchFilter").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#ingredientList li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
    </script> 
    <script type="text/javascript">
      function yesnoCheck() {
        		if (document.getElementById('yesCheck').checked) {
            		document.getElementById('ifYes').style.display = 'block';
        		}
        		else document.getElementById('ifYes').style.display = 'none';
      }
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nutrek: Ingredient Results</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <div class="container">
      <!-- Navigation -->
      <header>
        <h4 class="logo"> <a href="/"> <img width="100" height="100" src="/static/Nutrek.png" alt="img description: Nutrek Site Logo"> </a> </h4>
        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/data">ABOUT OUR DATA</a></li>
          </ul>
          <!-- Search Bar in Navigation -->
          <form class="search-boxY" action="/search" method="POST">
            <input type="search" name="foodsearch" placeholder="Search for a food...">
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </nav>
      </header>
      <!-- Ingredients Results Section -->
      <section class="sect1" id="sect1">
        <h2>Ingredients Results</h2>
        {% for key, value in result.items() %}
        {% if result|length == 1 %}
        <h5>{{ key }}</h5>
        {% endif %}
        {% endfor %}
        {% if result|length > 1 %}
        {% for key, value in result.items() %}
        {% if loop.index == 1 %}
        <h5>{{ key }}</h5>
        <input id="inputSearchFilter" type="text" placeholder="Search ingredients list...">
        <br>
        {% else %}
        <ul id="ingredientList">
          <li>{{ key }}</li>
        </ul>
        {% endif %}
        {% endfor %}
        {% endif %} 
        <script>
          // Get button
          var mybutton = document.getElementById("myBtn");
          // When the user scrolls down more than 0px from the top of the document, show button
          window.onscroll = function() {scrollFunction()};
          function scrollFunction() {
            if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
              mybutton.style.display = "block";
            } else {
              mybutton.style.display = "none";
            }
          }
          // When the user clicks on myBtn, scroll to the top of the document
          function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
          }
        </script> 
      </section>
      <!-- Copyrights Section -->
      <div class="copyright">&copy;2019 <strong>Nutrek </strong> All rights reserved</div>
    </div>
    <!-- Main Container Ends -->
  </body>
</html>
