<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nutrek: Nutrient Results</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <div class="container">
      <!-- Navigation -->
      <header>
        <h4 class="logo"> <a href="/"> <img width="100" height="100" src="/static/Nutrek.png" alt="img description: Nutrek Site Logo"> </a> </h4>
        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/data">ABOUT OUR DATA</a></li>
          </ul>
          <!-- Search Bar in Navigation -->
          <form class="search-boxY" action="/search" method="POST">
            <input type="search" name="foodsearch" placeholder="Search for a food...">
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </nav>
      </header>
      <!-- Nutrient Breakdown Results Section -->
      <section class="sect1" id="sect1">
        <h2>Nutrient Breakdown Results</h2>
        <br>
        <!-- Nutritional Facts Table --> 
        {% for key, value in result.items() %}
        {% if loop.index == loop.length %}
        <h5>{{ key }}</h5>
        {% endif %}
        {% endfor %}
        {% if result|length > 1 %}
        <div id="nutritionfacts">
          <table width="500" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td align="center" class="header">Nutrition Facts</td>
              </tr>
              <tr>
                <div class="line"></div>
              </tr>
              <tr style="height: 7px">
                <td bgcolor="#000000"></td>
              </tr>
              <tr>
                <td>
                  <div class="line">
                    <div class="label">Nutrient</div>
                  </div>
                  <div style="padding-top: 1px; float: right;" class="labellight">
                    <div class="weight">Amount Per Serving</div>
                  </div>
                </td>
              </tr>
              <!--Outputting data from dictionary-->
              {% for key, value in result.items() %}
              {% if loop.index < loop.length %}
              <tr>
                <td class="indent">
                  <div class="line">
                    <div class="labellight">{{ key }} </div>
                    <div class="dv">{{value}}</div>
                  </div>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %} 
        <script>
          // Get the button
          var mybutton = document.getElementById("myBtn");
          // When the user scrolls down more than 0px from the top of the document, show button
          window.onscroll = function() {scrollFunction()};
          function scrollFunction() {
            if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
              mybutton.style.display = "block";
            } else {
              mybutton.style.display = "none";
            }
          }
          
          // When the user clicks on myBtn, scroll to the top of the document
          function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
          }
        </script> 
      </section>
      <!-- Copyrights Section -->
      <div class="copyright">&copy;2019 <strong>Nutrek </strong> All rights reserved</div>
    </div>
    <!-- Main Container Ends -->
  </body>
</html>
