<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $("#inputSearchFilter").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myList li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      	$(function() {
      	var selectValue = $('#yesCheck').val();
      	yesnoCheck(selectValue);	
      	});
      	
      	$('#yesCheck').change(function() {
        	var selectedValue = $(this).val();
        	yesnoCheck(selectedValue);
      	});
    </script> 
    <script type="text/javascript">
      function yesnoCheck() {
        		if (document.getElementById('yesCheck').checked) {
            		document.getElementById('ifYes').style.display = 'inline-block';
      	$('#yes').prop('required', true);
        		}
        		else {
      	document.getElementById('ifYes').style.display = 'none';
      	$('#yes').prop('required', false);
      }
      }
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nutrek: Search Results</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <!-- Navigation -->
      <header>
        <h4 class="logo"> <a href="/"> <img width="100" height="100" src="/static/Nutrek.png" alt="img description: Nutrek Site Logo"> </a> </h4>
        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/data">ABOUT OUR DATA</a></li>
          </ul>
          <!-- Search Bar in Navigation -->
          <form class="search-boxY" action="/search" method="POST">
            <input type="search" name="foodsearch" placeholder="Search for a food...">
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </nav>
      </header>
      <!-- Display search result and form if valid search result  -->
      {% for key, value in result.items()%}
      {% if result|length == 1 %}
      <h2>{{ key }}</h2>
      <form class="example" action="/search" method="POST">
        <fieldset>
          <input type="search" placeholder="Search new food..." name="foodsearch">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </fieldset>
      </form>
      {% elif loop.index == 1 %}
      <h2> Search results for "{{value}}" </h2>
      {% endif %}
      {% endfor %}
      {% if result|length > 1 %}
      <form action="/results" id="form2" method="POST">
        <fieldset div class="fieldset1">
          <legend><strong>1) Select the best match or narrow down the list by entering key words below. </strong>
            <input id="inputSearchFilter" type="text" placeholder="Narrow search results...">
          </legend>
          <div class="scroll">
            {% for key, value in result.items() %}
            {% if loop.index > 1 %}
            <ul id="myList">
              <li>
                <input type="radio" name="food" value="{{ value }}" required>
                {{ value }}
              </li>
            </ul>
            {% endif %}
            {% endfor %} 
          </div>
        </fieldset>
        <fieldset div class="fieldset1">
          <legend><strong>2) What do you want to know about this food?</strong></legend>
          <input type="radio" onclick="javascript:yesnoCheck();" name="query" value="nutritionfacts" id="noCheck1">
          Nutrient Breakdown
          <input type="radio" onclick="javascript:yesnoCheck();" name="query" value="ingredients" id="noCheck2">
          Ingredients
          <input type="radio" onclick="javascript:yesnoCheck();" name="query" value="allergy" id="yesCheck" required>
          Food Allergies?
          <div id="ifYes" style="display:none">
            Enter food you are allergic to:
            <input style="font-size:15px;" type="text" name="allergen" id="yes" placeholder="e.g. nut or milk">
            <div class="tooltip"><img class="moveimage" src="https://img.icons8.com/metro/26/000000/info.png" alt="img description: Tooltip info icon">
              <span class="tooltiptext">
              Examples: nut, peanut, egg, wheat, soy, tuna 
              <br>
              Note: try milk, lactose, or lactase for Lactose Intolerance.
              </span>
            </div>
          </div>
          <div class="cite"><a href="https://icons8.com/icon/76/info">Info icon by Icons8</a></div>
        </fieldset>
        <fieldset div class="fieldset1">
          <input type="submit" value="Submit">
          <input type="reset" value="Reset" onclick="javascript:yesnoCheck();">
        </fieldset>
      </form>
      {% endif %} 
      <!-- Copyrights Section -->
      <div class="copyright">&copy;2019 <strong>Nutrek </strong> All rights reserved</div>
      <!-- Main Container Ends --> 
    </div>
  </body>
</html>
