@charset "UTF-8";
:root {
  --nav-text-color: #ffffff;
  --nav-background-color: #013366;
  --nav-background-hover-color: #091832;
  --right-button2-hover-color: #ffdf00;
  --other-width: 25%;
  --speed: 1000ms;
  --background-color: #ffffff;
  --search-bg-color: #242628;
  --icon-color: #00FEDE;
  * {
    box-sizing: border-box;
  }
}
/* CONTAINER */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: #FFFFFF;
}
/* NAVIGATION */
header {
  width: 100%;
  height: 60px;
  background-color: #013366;
  border-bottom: 1px solid #2C9AB7;
}
.logo {
  z-index: 2;
  text-align: undefined;
  width: 10%;
  float: left;
  margin-top: 1px;
  margin-left: 5px;
}
nav {
  float: left;
  width: 50%;
  text-align: center;
}
header nav ul {
  list-style-type: none;
  float: center;
}
nav ul li {
  float: left;
  color: var(--nav-text-color);
  font-size: 20px;
  text-align: left;
  margin-right: 25px;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.3s linear;
}
/* Style the links inside the navigation bar */
ul li a {
  color: #fff;
  background-color: var(--nav-background-color);
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 20px;
}
/* Change the color of links on hover */
ul li:hover a {
  background-color: var(--nav-background-hover-color);
  color: white;
}
/* NAVIGATION SEARCH BOX */
.search-boxY {
  position: absolute;
  top: 4%;
  right: 0%;
  transform: translate(-50%, -50%);
  height: 30px;
  border-radius: 40px;
  padding: 10px;
}
.search-boxY input[type=search] {
  -webkit-appearance: none;
  font-family: Arial; 
  height: auto;
  width: 250px;
  font-size: 20px;
}
.search-boxY .fa {
  -webkit-appearance: none;
  height: auto;
  font-size: 20px;
  cursor: pointer;
  padding-bottom: 2px;
  padding-top: 2px;
}
/* Body */
body {
  font-family: Georgia, serif;
  background-color: white;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-style: normal;
  font-weight: 200;
}
/* HEADING AND PARAGRAPH STYLES  */
h1 {
  font-size: 40px;
  color: white;
  text-align: center;
}
h2 {
  font-size: 35px;
  margin-top: 2.5px;
}
h3 {
  font-size: 35px;
  margin-top: -5px;
}
h5 {
  text-align: center;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 10%;
  margin-right: 10%;
}
h6 {
  font-size: 40px;
  color: black;
  text-align: center;
  margin-bottom: 1em;
}
p {
  color: black;
}
p1 {
  display: inline-block;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 27.5%;
  margin-right: 27.5%;
  font-size: 20px;
  color: black;
}
p2 {
  display: block;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 1em;
  margin-left: 10em;
  margin-right: 10em;
  font-size: 15px;
  color: black;
}
p3 {
  font-size: 100px;
  color: black;
  background-color: yellow;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 15px;
  margin-left: 45%;
  box-shadow:
    0 0 5px 2.5px orange, 0 0 7.5px 5px pink, 0 0 10px 7.5px #b11030;
}
p4 {
  font-weight: normal;
  display: block;
  text-align: left;
  font-size: 17.5px;
  color: black;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 50px;
  margin-bottom: 15px;
}
/* FORMS */
#form1 {
  border: 1px solid;
  box-shadow: 0px 0px 8px 1px black;
  background: var(--nav-background-hover-color);
  margin: auto;
  width: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 50px;
}
#form2 {
  position: auto;
  height: 100%;
  border: none;
  background-color: white;
  padding-top: 0px;
  padding-bottom: 10px;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
}
#form2 input[type=submit] {
  margin-left: 25%;
  margin-bottom: 20px;
}
form.example input[type=search] {
  -webkit-appearance: textfield;
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 75%;
  background: #f1f1f1;
  border: 1px solid grey;
}
form.example input[type=search]:focus {
  border: 1px solid red;
  outline: none
}
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
form.example button:hover {
  background: #0b7dda;
}
form.example::after {
  content: "";
  clear: both;
  display: table;
}
fieldset {
  border: none;
  width: auto;
  margin: auto;
}
.fieldset1 {
  z-index: 1000;
  font-size: 20px;
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2.5px;
  padding-left: 0px;
  padding-right: auto;
  background-color: white;
  border-top: 1px solid black;
}
.fieldset1 legend {
  background-color: #000;
  color: #fff;
  margin-top: 0px;
  padding: 3px 6px;
  width: 100%;
}
.fieldset1 .output {
  font: 1rem 'Fira Sans', sans-serif;
}
.fieldset1 input {
  margin: .4rem;
}
.fieldset2 {
  padding-left: 40%;
}
input[type=submit], input[type=reset] {
  background-color: var(--nav-background-color);
  color: white;
  border: 2px solid black;
  width: 25%;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
}
input[type=button] {
  background-color: var(--nav-background-color);
  position: relative;
  left: 12%;
  color: white;
  border: 2px solid black;
  width: 250px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: var(--nav-background-hover-color);
  color: white;
}
input[type=button1] {
  background-color: var(--nav-background-color);
  color: white;
  border: 2px solid black;
  width: 250px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
}
input[type=button1]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: var(--nav-background-hover-color);
  color: white;
}
input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: -8px;
  padding: 4px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid gray;
  background-color: lightgray;
  border-radius: 50%;
}
input[type=radio]:focus {
  border: 2px solid red;
}
input[type=radio]:hover {
  border: 2px solid blue;
}
/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: blue;
  border: 2px solid black;
}
/* Centering radiobuttons */
.flex {
  display: flex;
  align-items: center;
}
input[type=radio]:checked + label {
  background-color: blue;
  color: white;
}
input[type=radio] + label {
  padding: 0px;
}
#yes {
  border: 1px solid #333333;
  border-radius: 4px;
  background-color: #FAFAFA;
  height: 30px;
  width: 250px;
}
#yes:focus {
  border: 1px solid red;
}
.sect_header {
  color: black;
  text-align: center;
  margin-top: 125px;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
  letter-spacing: 4px;
  font-size: 40px;
}
/* Banner and Form Section */
/* Homepage */
.sect {
  font-weight: bold;
  background-image: url("AdobeStock_234241545.jpeg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
}
.sect1 {
  font-weight: bold;
  background-color: white;
  padding-top: auto;
  padding-bottom: auto;
}
.sect3 {
  font-weight: bold;
  background-image: url("AdobeStock_270367156.jpeg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 25px;
  background-position: center center;
}
.tagline {
  text-align: center;
  color: #FFFFFF;
  margin-top: 4px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* ABOUT SECTION (3 COLUMN DIVIDED) */
.about {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 35px;
  display: inline-block;
  background-color: white;
  margin-top: 0px;
}
.table2 {
  position: relative;
  width: 100%;
  margin-top: 2.5%;
}
.table2 td, .table2 th {
  border: 1px solid black;
  padding: 8px;
  width: auto;
}
.table2 th {
  background-color: #005a9b;
  color: white;
}
.table2 tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table2 tr.spaceUnder > td {
  padding-bottom: 1em;
}
/* Header/Logo Title */
col_header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 0%;
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #101010;
  font-size: 25px;
  font-weight: bold;
}
.column input {
  margin-left: 15%;
  margin-bottom: 6%;
  margin-top: 2.5%;
  display: inline-block;
  text-align: center;
}
.column p {
  text-align: left;
  font-size: auto;
  margin-bottom: 1%;
  margin-top: 1%;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 44%;
  padding: 10px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  font-weight: lighter;
  line-height: 25px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* ABOUT SITE FEATURES (HOME PAGE) */
.stats {
  color: black;
  margin-bottom: 5px;
}
.aboutsite {
  clear: both;
  display: inline-block;
  width: 100%;
  background-color: #FFFFFF;
  /* [disabled]min-width: 400px;
*/
  padding-bottom: 20px;
  padding-top: 0px;
  margin-top: -5px;
  margin-bottom: 0px;
}
.thumbnail {
  width: 33%;
  text-align: center;
  float: left;
  margin-top: 20px;
}
.aboutsite .thumbnail h4 {
  width: 100%;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #004080;
  font-size: 20px;
}
.aboutsite .thumbnail h5 {
  width: 100%;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #1C2A43;
  font-size: 23px;
  text-shadow: 0px 1px .5px lightgray;
}
.aboutsite .thumbnail p {
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: #112e51;
  font-size: 18px;
}
/*COPYRIGHT*/
.copyright {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  background-color: #717070;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 12px;
  letter-spacing: 2px;
  border-top-width: 2px;
  margin-top: 5px;
}
/* NUTRITIONAL FACTS LABEL FOR NUTRIENTS.HTML RESULTS PAGE */
#nutritionfacts {
  background-color: white;
  border: 5px solid black;
  padding: 5px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}
/* label content of left side directly affecting right */
#nutritionfacts td {
  color: black;
  font-family: 'Arial Black', 'Helvetica Bold', sans-serif;
  font-size: 16pt;
  padding-top: 6px;
  top: 200px;
}
/* "Nutrition Facts Heading" */
#nutritionfacts td.header {
  font-family: 'Arial Black', 'Helvetica Bold', sans-serif;
  font-size: 50px;
  white-space: nowrap;
}
/* "Right side of label" */
#nutritionfacts div.label {
  float: left;
  font-family: 'Arial Black', 'Helvetica Bold', sans-serif;
}
#nutritionfacts div.weight {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2px;
}
#nutritionfacts div.dv {
  display: inline;
  float: right;
  font-family: 'Arial Black', 'Helvetica Bold', sans-serif;
}
#nutritionfacts div.line {
  border-top: 2px solid black;
}
#nutritionfacts div.labellight {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}
/* INGREDIENTS DISPLAY */
ul {
  list-style-type: none;
}
#ingredientList {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
#ingredientList li {
  border: 1px solid #ddd;
  margin: -1px; /* Prevent double borders */
  margin-bottom: 15px;
  text-align: center;
  background-color: #f6f6f6;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}
/* SEARCH FILTER OF LISTS */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #008CBA;
  color: white;
  cursor: pointer;
  padding: 15px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}
#inputSearchFilter {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}
/* SEARCH RESULTS SCROLLABLE SECTION */
div.scroll {
  margin: auto;
  width: 100%;
  height: 275px;
  overflow-x: hidden;
  overflow-x: auto;
  text-align: justify;
}
div.scroll::-webkit-scrollbar {
  width: 1em;
}
/* Buttons */
div.scroll::-webkit-scrollbar-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 18px;
  width: 16px;
}
/* Up */
div.scroll::-webkit-scrollbar-button:vertical:decrement {
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #555555 transparent;
}
div.scroll::-webkit-scrollbar-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}
/* Down */
div.scroll::-webkit-scrollbar-button:vertical:increment {
  border-width: 10px 10px 0 10px;
  border-color: #555555 transparent transparent transparent;
}
div.scroll::-webkit-scrollbar-button:vertical:increment:hover {
  border-color: #777777 transparent transparent transparent;
}
div.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
div.scroll::-webkit-scrollbar-thumb {
  background-color: #515151;
  outline: 1px solid slategrey;
}
.cite {
  display: none;
}
.moveimage {
  position: relative;
  top: 5px;
  margin-left: -5px;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  font-size: 12px;
  background-color: #f2f2f2;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.bullet li {
	list-style-type:square;
}

/*ACCESSIBILITY ON OTHER DEVICES*/
/* Mobile */
@media (max-width: 320px) {
  .logo {
    width: 100%;
    text-align: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .container header nav {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    float: none;
    display: none;
  }
  header nav ul {}
  nav ul li {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
  .column {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  .thumbnail {
    width: 100%;
  }
}
/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
  .logo {
    width: 100%;
    text-align: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #043745;
  }
  .container header nav {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    float: none;
    overflow: auto;
    display: inline-block;
    background: var(--nav-background-color);
  }
  header nav ul {
    padding: 0px;
    float: none;
  }
  nav ul li {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .column {
    width: 100%;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  .thumbnail {
    width: 100%;
  }
}
/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
  .column {
    width: 100%;
  }
  .thumbnail {
    width: 50%;
  }
  .column {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
