/* html *{
  background-color:rgb(110, 44, 44);
  background-color: white;
  font-family: 'Playfair Display', serif;
}

.body{
  margin:30px;
  margin-top:50px;
}

.alcohols{
  margin-left:112px;
  margin-right:112px;
  position:relative;
  margin-top:100px;
  display:grid;
  width:1150px;
  height:450px;
  border-style:solid;
  border-color: black;
  grid-template-columns: repeat(5,230px);
  grid-template-rows: repeat(3, 150px);
  grid-template-areas:  'a a c c c'
                        'b d d d f'
                        'e e e e f';
}

.alcohols a{
  background-color: transparent;
  color:rgb(56, 21, 21);
  border-style:solid;
  border-color:black;
}

.alcohols a:hover {
  color:burlywood;
  cursor:pointer;
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

.Vodka{
  grid-area: a;
  font-size:150px;
  font-weight:900;

}

.Gin{
  font-size:115px;
  grid-area: b;
  font-weight:400;
}

.Tequila{
  position:absolute;
  font-size:140px;
  letter-spacing: 0.2em;
  font-weight: 400;
  text-align:right;
  grid-area: c;
}

.Whiskey{
  grid-area: d;
  font-style:italic;
  font-size:120px;
  font-weight: 700;
  letter-spacing: 0.4em;
}

.Brandy{
  position:absolute;
  bottom:-15px;
  left:70px;
  grid-area: e;
  font-size:165px;
  font-weight: 400;
  font-style:italic;
  letter-spacing: 0.4em;
}

.Rum{
  position:absolute;
  bottom:5px;
  left: 115px;
  font-size:70px;
  grid-area: f;
  font-weight: 600;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
}

.text{
  word-spacing:2em;
} */