.back-to-search{
    border:none;
    padding:20px;
    font-size: x-large;
    opacity: 30%;
}

.back-to-search:hover{
    cursor:pointer;
    text-decoration: underline;
    opacity: 100%;
    transition: ease-out 200ms;
}

.search-card{
    /* border-style:solid;
    border-color:black;
    */

}